.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.rpm

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml
policyfiles/*lock.json

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
